mat-form-field, textarea {
  width: 100%;
}
input[type=file] {
  display: none;
}
#filePickerSection{
  margin: 1rem 0;
}

#image-preview img{
  display: block;
  max-width: 600px;
  max-height: 400px;
  margin: 1rem auto;
}

